<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello jpa!
<h1>retrive</h1>
<ul>
    <li th:each="file : ${customers}">
        <a th:href="${file}" th:text="${file}" />
    </li>
</ul>

<h1>create</h1>
<form action="#" method="post" th:object="${customer}" th:action="@{/jpa/create}">
    firstname:
    <input type="text" th:field="*{firstname}"/> <br/>
    secondname:
    <input type="text" th:field="*{lastname}"/>
    <input type="submit" value="Submit"/>
</form>

<h1>delete</h1>
<form th:action="@{/jpa/delete}" method="post" >
    id : <input type="text" name="cid" > <input type="submit" value="Submit">
</form>


</body>
</html>